.elitefit__features {
    display: flex;
    flex-direction: column;
    
}

.elitefit__features-heading {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;    
}

.elitefit__features-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: var(--font-subheader);
    line-height: 50px;
    letter-spacing: -0.04em;
}

 .elitefit__features-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1.5rem; 
}  

.elitefit__features-cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
  
}

.elitefit__features-cards_app1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    gap: 4rem;
}

.card {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;


    margin-bottom: 3rem;

}

.card_img img {
    width: 75px;
    
} 

.card {
    width: 18rem;
    height: 20rem;
}

@media screen and (max-width: 1050px) {
    .elitefit__features {
        flex-direction: column;
    }

    .elitefit__features-headering {
        flex-direction: column;
    }

    .elitefit__features-cards {
        flex-direction: column;
    }

    .elitefit__features-cards_app1 {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .elitefit__features-heading h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .elitefit__features-heading p {
        font-size: 16px;
        line-height: 24px;
    }

    .card {
        height: 100%;
    }
}

@media screen and (max-width: 490px) {
    .elitefit__features-heading h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .elitefit__features-heading p {
        font-size: 14px;
        line-height: 24px;
    }
    
}